.tweet-card
    if tweet.retweeted.status
        if isAuthenticated && tweet.author._id.toString() === currentUser._id.toString()
            p 
                i.fa-solid.fa-retweet
                | Vous avez retweeté:
        else 
            p
                i.fa-solid.fa-retweet
                | #{tweet.author.fullname} a retweeté:
    .tweet-card-author 
        .tweet-card-author-data 
            if tweet.retweeted.status
                img(src=tweet.retweeted.initialAuthor.avatar, alt="")
                a(href=`/user/${tweet.retweeted.initialAuthor.username}`) 
                    p @#{tweet.retweeted.initialAuthor.username}
                p= moment(tweet.createdAt).locale('fr').fromNow()
            else 
                img(src=tweet.author.avatar, alt="")
                a(href=`/user/${tweet.author.username}`) 
                    p @#{tweet.author.username}
                p= moment(tweet.createdAt).locale('fr').fromNow()
        if currentUser 
            if tweet.author._id.toString() === currentUser._id.toString()
                .tweet-card-author-action
                    a(href=`/tweet/edit/${tweet._id}`) 
                        i.fa-solid.fa-pen-to-square 
                    a(href=`/tweet/delete/${tweet._id}`) 
                        i.fa-solid.fa-xmark

    .tweet-card-body
        //- -const tweetDate = new Date(tweet.createdAt);
        //- p(class="tweetTime") Tweeté le #{tweetDate.toLocaleString()}
        p= tweet.content
    .tweet-card-actions
        a(href= isAuthenticated ? `/tweet/${tweet._id}` : '/auth/signin/form')
            i.fa-comment(class= tweet.comments.length > 0 ? 'fa-solid' : "fa-regular" )
            span= tweet.comments.length
        i.fa-heart(class= tweet.nbLikes > 0 ? "fa-solid" : "fa-regular" tweetid = tweet._id authenticated= isAuthenticated ? 'yes' : 'no')
            span= tweet.nbLikes
        a(href= isAuthenticated ? `/tweet/share/${tweet._id}` : '/auth/signin/form') 
            i.fa-solid.fa-retweet